<div class="row">
  <% @posts.each do |post| %>
  <div class="col-md-6 item-widget">
    <figcaption>
      <a href="#">
         <figure>
           <%= image_tag("item-1.jpg", :alt => "item image") %>
           <span>67%</span>
           <a herf="#" class="chart-icon"></a>
         </figure>
        <strong><%= post.name %></strong>
        <span><%= post.address %> - <%= post.cuisine %></span><br>
        <span><%= post.neighborhood %> - <%= post.price_range %></span>
      </a>
    <figcaption>
  </div>
  <% end %>
