<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :inthenews %><br>
    <%= f.text_field :inthenews %>
  </div>
  <div class="field">
    <%= f.label :michelin_status %><br>
    <%= f.text_field :michelin_status %>
  </div>
  <div class="field">
    <%= f.label :google_reviews %><br>
    <%= f.text_field :google_reviews %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :website %><br>
    <%= f.text_field :website %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.number_field :phone %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br>
    <%= f.number_field :longitude %>
  </div>
  <div class="field">
    <%= f.label :latitude %><br>
    <%= f.number_field :latitude %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
