<div class="search-filter">
  <form>
    <h3>Explore Your City</h3>
    <ul class="filters-icons">
      <li><a href="#">All</a></li>
      <li class="active"><a href="#">Zagat</a></li>
      <li><a href="#">Michelin</a></li>
      <li><a href="#">TimeOut</a></li>
      <li><a href="#">F.Truck</a></li>
      <li><a href="#">Faisal</a></li>
    </ul>

    <!--

    <span>Filters</span>
    <div class="accolades-panel">
      <label for="zagat_status">
        Zagat Status
        <select id="zagat_status" class="filter-status" name="zagat_status">
          <option value="">Don't Care</option>
          <option value="Yes" <%= 'selected' if params[:zagat_status] == "Yes" %>>Yes</option>
          <option value="No" <%= 'selected' if params[:zagat_status] == "No" %>>No</option>
        </select>
      </label>

      <label for="michelin_status">
        Michelin Status
        <select id="michelin_status" class="filter-status" name="michelin_status">
          <option value="">Don't Care</option>
          <option value="1" <%= 'selected' if params[:michelin_status] == "1" %>>1</option>
          <option value="2" <%= 'selected' if params[:michelin_status] == "2" %>>2</option>
          <option value="3" <%= 'selected' if params[:michelin_status] == "3" %>>3</option>
          <option value="4" <%= 'selected' if params[:michelin_status] == "4" %>>4</option>
          <option value="5" <%= 'selected' if params[:michelin_status] == "5" %>>5</option>
        </select>
      </label>

      <label for="cuisine">
        Cuisine<br>
        <select id="cuisine" class="filter-status" name="cuisine">
          <option value="">Don't Care</option>
          <option value="French" <%= 'selected' if params[:cuisine] == "French" %>>French</option>
          <option value="Italian" <%= 'selected' if params[:cuisine] == "Italian" %>>Italian</option>
          <option value="British" <%= 'selected' if params[:cuisine] == "British" %>>British</option>
        </select>
      </label>

      <div class="consistency-score">
        <span style="margin-right: 40px;">Price Range</span>
        <input id="price_range" class="filter-status" data-slider-id='ex1Sl' type="text" name="price_range" data-slider-min="1" data-slider-max="4" data-slider-step="1" data-slider-value="<%= params[:price_range] %>"/>
      </div>
    </div>

  -->
  </form>
  </div>
