<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @post.name %>
</p>

<p>
  <strong>In the news:</strong>
  <%= @post.inthenews %>
</p>

<p>
  <strong>Michelin status:</strong>
  <%= @post.michelin_status %>
</p>

<p>
  <strong>Google reviews:</strong>
  <%= @post.google_reviews %>
</p>

<p>
  <strong>Address:</strong>
  <%= @post.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @post.city %>
</p>

<p>
  <strong>Website:</strong>
  <%= @post.website %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @post.phone %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @post.longitude %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @post.latitude %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
